<tr id="category-<%= category.id %>">
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td><%= link_to t("delete"), admin_category_path(category), method: :delete,remote: true,
                  data: {confirm: t("Confirm_action", action: t("delete"))} %>
  </td>
</tr>
